
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
	background-color: var(--color-background);
}

body {
	margin: 0;
}

body > main {
	--content-width: 75%;
	--content-height: 64px;

	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
	position: absolute;
	width: 480px;
	height: 100%;
	right: 0;
	background-color: var(--color-midbackground);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y:auto;
}

body > main > img {
	width: 32px;
	aspect-ratio: 1/1;
	margin: 64px;
}

body > main > h1 {
	color: var(--color-foreground);
	font-size: 2rem;
	font-weight: bold;
	font-family: var(--font-family);
	margin-bottom: 64px;
	margin-top: 0;
}

body > main > input {
	color: var(--color-midforeground);
	width: var(--content-width);
	min-height: var(--content-height);
	box-sizing: border-box;
	outline-style: none;
	border-style: none;
	border-bottom: solid var(--color-midforeground) 4px;
	font-family: var(--font-family);
	font-size: 1.125rem;
	background-color: transparent;
	margin-bottom: 32px;

	transition-duration: .2s;
	transition-property: all;
}

body > main > input:focus {
	border-bottom-color: var(--color-accent);
	color: var(--color-accent);
}

body > main > input::-ms-reveal {
	filter: invert(100%);
}

body > main > button {
	width: var(--content-width);
	min-height: var(--content-height);
	border-radius: 16px;
	color: var(--color-midforeground);
	font-size: 1.25rem;
	font-weight: 600;
	background-color: var(--color-background);
	border-style: none;
	cursor: pointer;

	transition-duration: .2s;
	transition-property: all;
}

body > main > button:hover {
	color: var(--color-background);
	background-color: var(--color-accent);
}

body > main > button:active {
	font-size: 16px;
}

body > main > div {
	flex-grow: 1;
}

body > main > a {
	color: var(--color-midforeground);
	font-size: 1rem;
	font-weight: 500;
	font-family: var(--font-family);
	margin: 64px 0;
}
